* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #1F1812;
}

.layout{
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #5CA29A;
    margin: auto;
}

.header__div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header{
    background-color:  #fff;
}

.header__h1{
    /* background: blue; */
    color: #120E0A;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.header__logo{
    /* background: slateblue; */
}

.header__nav{
    display: flex;
}
.header__a{
    background: #5CA29A;
    border-radius: 3px;
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
    padding: 2px 10px;
    margin: 0 5px;
    font-weight: 600;
    transition: all 300ms;
}

.header__a:hover{
    transform: scale(1.15);
}

.header__a--active{
    background: #F8E02D;
    color: #120E0A;
}

.header__div--img{
    /* background: darkblue; */
}

.header__section{}
.header__article{}
.header__img{
    width: 100%;
    object-fit: cover;
}


main{
}


.main__h2{
    margin: 0;
    background: #174e49;
    border: #1F1812 1px solid;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}
.main__div{
    min-height: 300px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main__section{}
.main__div--logo{
    margin: auto;
}

.main__logo--active{
}

.main__div--info{
    /* background: rebeccapurple; */
    gap: 10px;
}

.main__article{
    text-align: center;
    padding: auto;
    color: #120E0A;
    min-width: 300px;
    max-width: 600px;
    max-height: 600px;
    min-height: 280px;
    background: #5CA29A;
    border: #1F1812 1px solid;
    border-radius: 10px;
    transition: all 300ms;
}
.home1{
    border-radius: 100px;
    object-fit: cover;
    min-width: 300px;
    height: 200px;
}

.home2{
    object-fit: cover;
    border-radius: 100px;
    min-width: 300px;
    height: 200px;
}

.home3{
    object-fit: cover;
    border-radius: 100px;
    min-width: 300px;
    height: 200px;
}

.main__article:hover{
    transform: scale(1.15);
}

.main__h3{
    font-size: 2rem;
}
.main__p{
    font-size: 20px;
}

footer{
    background: #000000;
    color: white;
}


.main__section--list{
}

main{}

.rules{
    font-family: 'Inter', sans-serif;
    margin: 0 5%;
}
.game{}
.game__h2{
    background: #5CA29A;
    text-align: center;
    margin: 0;
    color: #fff;
}
.game__h3{
    font-size: 2rem;
}
.game__a{
    font-size: 2rem;
}
.rules__h2{
    font-size: 2rem;
    background: #000000;
    color: #fff;
    border-radius: 3px;
}
.rules__p{
    font-size: 1.4rem;
}
.rules__list{
    padding: 20px;
    border: 3px #120E0A solid;
    border-radius: 5px;
    background-color: #e2e2cb;
}
.rules__dl{
    margin: 0;
}
.rules__dt{}
.rules__dd{
    padding: 10px 0;
}

.rules__ol{}
.rules__ol--abc{
    list-style-type: lower-latin;

}
.rules__li{
    padding: 5px 0;
}
.rules__ul{}

.rules__li--circle{
    list-style: circle;
}


/* table */

.game-table-maps-flex{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    height: 100%;
}

.game__table{
    width: 50%;
    height: 50%;
}
.game__h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0;
    color: #000000;
}
.game__h3{
    margin: 0;
}
.table1{
    font-size: 2rem;
    position: relative;
    right: 29px;
}

.table2{
    margin: auto;
    width: 100%;
    font-size: 1.5rem;
    border: #120E0A solid;
    background: #174e49;
}

.table2,tr,th,td{
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
}
.tr1{

background: #F8E02D;

}
.tr2{
    background: #fff;
    transition: 0.9;

}
.tr2 :hover{
    cursor: pointer;
    transform: scale(1.2);
}
.tr3{
    background: #5CA29A;
}



/* registration */







.registration{
    margin: 2% 5%;
    font-family: 'Quicksand', sans-serif;
}
form{
    font-size: 1.5rem;
    background: #fff;
    padding: 10px 40px;
    width: 80%;
    margin: auto;
}




.registration__h2{
    text-align: center;
}





fieldset{
/*     background: lawngreen; */
    line-height: 30px;
    border: none;
}

.hf{
/*     background: gold; */
    margin: 15px 0;
}

.hf__flex{
    width: 100%;
    display: flex;
    gap: 10px;
}


.hf__colum1{
    width: 50%;
/*     background: magenta; */
}


.hf__colum2{
    width: 50%;
/*     background: magenta; */
}

.registration__h3{
    margin: 10px 0;
}

legend{
}
label{
/*     background: beige; */
}
input{
    font-size: 18px;
    background: none;
    margin: 10px 0;
    height: 25px;
    border: none;
    border-bottom: 1px black solid;
    outline: none;
}

select{
    height: 25px;
    position: relative;
    bottom: 3px;
    border: none;
    background: #e7c500;
    border-radius: 4px;
}


.form__input-large{
    width: 60%;
}
.form__input-large2{
    width: 40%;
}

.br{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}


.btn-submit{
    font-size: 2rem;
    height: 50px;
    width: 100%;
    margin: auto;
    padding: 3px;
    background: #174e49;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.btn-submit:hover{
    background: #e7c500;
    transition: 0.5s;
    color: #120E0A;
}


.maps__article{
    display: flex;
    justify-content: space-evenly;
}

.col{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background: #1F1812;
}
.colum-flex{
    margin: 5px;
    background: #fff;
    max-height: 200px;
}
.maps__section{}
.maps__title{}
.maps__iframe{
    width: 100px;
    height: 100px;
}